<!--<div class="w-full h-full max-w-7xl mx-auto bg-gray-400">-->
<!--  <p>test</p>-->
<!--</div>-->
<div class="w-full h-full max-w-7xl mx-auto flex flex-col pt-20 gap-12">
  <h1 class="m-0 text-3xl text-center">
    Discover most popular categories in our blog
  </h1>
  <ng-container *ngFor="let category of mostPopularCategoriesWithPosts">
    <div class="flex flex-col w-full gap-4 border-b-4 border-gray-200 pb-12">
      <div class="uppercase text-center text-xl font-semibold">
        {{ category.name }}
      </div>
      <p-carousel
        [value]="category.posts"
        [numVisible]="3"
        [numScroll]="3"
        [circular]="false"
        [responsiveOptions]="responsiveOptions"
      >
        <ng-template
          let-post
          pTemplate="item"
          class="flex items-center justify-center"
        >
          <app-post-card
            class="flex justify-center h-full"
            [post]="post"
          ></app-post-card>
        </ng-template>
      </p-carousel>
      <div class="text-center">Show more {{ category.name }} posts</div>
    </div>
  </ng-container>
</div>
