:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.travels {
  background-image: url("/assets/categories/travels.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.cooking {
  background-image: url("/assets/categories/cooking.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.DIY {
  background-image: url("/assets/categories/diy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.fashion {
  background-image: url("/assets/categories/fashion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.finances {
  background-image: url("/assets/categories/finances.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.health {
  background-image: url("/assets/categories/health.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mechanization {
  background-image: url("/assets/categories/mechanization.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.photography {
  background-image: url("/assets/categories/photography.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.programming {
  background-image: url("/assets/categories/programming.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.technologies {
  background-image: url("/assets/categories/technologies2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
