<div class="w-full h-full flex py-20 grow">
  <div class="w-full h-full max-w-7xl mx-auto flex flex-col gap-10">
    <div
      class="w-full h-full flex flex-wrap items-center justify-center gap-10"
    >
      <ng-container *ngIf="!loading; else skeleton">
        <app-post-card
          *ngFor="let like of likes; trackBy: trackByFn"
          [post]="like.post"
        ></app-post-card>
      </ng-container>
    </div>
    <p-paginator
      [rows]="rows"
      [totalRecords]="totalElements"
      (onPageChange)="paginate($event)"
    ></p-paginator>
  </div>
</div>

<ng-template #skeleton>
  <app-post-card-skeleton
    *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]; trackBy: trackByFn"
  ></app-post-card-skeleton>
</ng-template>
